@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
  --bg-color: #2C3333;
  --bg-alt: #395B64;
  --accent: #A5C9CA;
  --fg-color: #E7F6F2; 
  
  box-sizing: content-box;
}

.blue-gray {
  --bg-color: #2C3333;
  --bg-alt: #395B64;
  --accent: #A5C9CA;
  --fg-color: #E7F6F2; 
}

.purple-pink {
  --bg-color: #1F1D36;
  --bg-alt: #3F3351;
  --accent: #864879;
  --fg-color: #E9A6A6;
}

.gruvbox {
  --bg-color: #1A120B;
  --bg-alt: #3C2A21;
  --accent: #D5CEA3;
  --fg-color: #E5E5CB;
}

.green {
  --bg-color: #191A19;
  --bg-alt: #1E5128;
  --accent: #4E9F3D;
  --fg-color: #D8E9A8;
}

.blue {
  --bg-color: #0F044C;
  --bg-alt: #141E61;
  --accent: #787A91;
  --fg-color: #EEEEEE;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

html, body {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
}

nav>ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style-type: none;
  padding-left: 0;
  margin-right: 80vw;
}

nav li {
  margin-bottom: 1rem;
}

nav a {
  font-size: 1.4rem;
  transition: all ease-in-out 0.3s;
  text-decoration: none;
}


nav a:link,
nav a:visited {
  color: var(--fg-color);
}

.active {
  font-size: 1.6rem;
  font-weight: 900;
  border-bottom: 3px solid var(--fg-color);
  padding-bottom: 0.2rem;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

section,
footer {
  display: flex;
  justify-content: center;
  width: max;
  padding: 2em;
  min-height: 100vh;
}

h1 {
  font-size: 5rem;
}

a,
a:link {
  text-decoration: none;
  color: var(--fg-color);
  z-index: 90;
}

a:hover {
  transform: scale(1.03);
}

.large {
  font-size: 3rem;
}

.medium {
  font-size: 2rem;
}

.small {
  font-size: 1.3rem;
  font-weight: 600;
}

section:nth-child(even) {
  background-color: var(--bg-alt);
}

.content-wrapper {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 19vw;
}

.change-theme {
  display: flex;
  justify-content: left;
  align-items: center;
  position: fixed;
  top: 1em;
  left: 1em;
  background-color: var(--bg-alt);
  border-radius: 2em;
  color: var(--fg-color);
  padding: 0;
  margin: 0.5rem;
  min-width: fit-content;
  min-height: fit-content;
  width: 2em;
  height: 2em;
  transition: all ease-in-out .3s;
  z-index: 999;
}

.expand {
  width: fit-content;
}

.flex-wrapper {
  display: none;
  padding-left: 1rem;
  gap: 1rem;
}

.show {
  display: flex;
}


.theme-icon {
  width: calc(2em - 4px);
  height:calc(2em - 4px);
  border-radius: 50%;
  border: solid 2px var(--fg-color);
  background-image: linear-gradient(to right,var(--bg-color) 0 50%, var(--fg-color) 50% 110%);
  z-index: 99;
}

.theme-icon:hover {
  transform: scale(1.1);
}

.project-link {
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  border: solid 4px var(--accent);
  padding: 1rem;
  border-radius: 20px;
  text-decoration: none;
  color: var(--fg-color);
  font-size: 1.4rem;
  gap: .5rem;
  margin-bottom: 1.5rem;
  transition: all ease-in-out 0.2s;
  z-index: 97;
}

.project-link:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.project-link img {
  width: 200px;
  border-radius: 16px;
}

footer {
  min-height: fit-content;
}

#gh-logo {
  fill: var(--fg-color);
}


@media only screen and (max-width: 820px) {
  nav {
    display: block;
    position: sticky;
    top:0;
    right: 0;
    padding-top: 3em;
    padding-bottom: 1em;
    background-color: var(--bg-color);
    z-index: 998;
  }

  nav>ul {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-right: 0;
  }

  .content-wrapper {
    margin-left: 0;
  }

  .project-link {
    flex-direction: column;
  }
}


@media only screen and (max-width: 400px) {
  nav {
    display: none;
  }

  .large {
    font-size: 2rem;
  }

  .medium {
    font-size: 1.4rem;
  }

  .small {
    font-size: 1.2rem;
  }

}
